[defaults]
inventory = vagranthost
remote_user = vagrant
host_key_checking = False
nocows = 1
roles_path = ~/.ansible_roles

[ssh_connection]
ssh_args = -i  .vagrant/machines/voeventdbvm/virtualbox/private_key
pipelining = True


