<VirtualHost *:80>
    ServerName {{ voeventcache_domain }}
    DocumentRoot /var/www/voeventcache
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    WSGIDaemonProcess voeventcache user={{ voeventcache_ro_user }} group={{ voevent_group }} threads=2
    WSGIScriptAlias / /var/www/voeventcache/voeventcache.wsgi
    Alias /docs /var/www/voeventcache/docs

    <Directory /var/www/voeventcache >
        WSGIProcessGroup voeventcache
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
        RewriteEngine On
        RedirectMatch ^/$ /docs
    </Directory>




</VirtualHost>