<VirtualHost *:80>
    ServerName {{ voeventdb_domain }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    #Crucial for correct handling of urlencoded IVORNs:
    AllowEncodedSlashes NoDecode

    Alias /docs {{ wwwroot }}/docs
    <Directory {{ wwwroot }}/docs>
        Require all granted
    </Directory>


    WSGIScriptAlias / {{ wwwroot }}/voeventdb.wsgi
    WSGIDaemonProcess voeventdb user={{ voeventdb_ro_user }} group={{ voeventdb_group }} threads=2

    <Directory {{ wwwroot }} >
        <Files voeventdb.wsgi>
            Require all granted
        </Files>
        WSGIProcessGroup voeventdb
        WSGIApplicationGroup %{GLOBAL}
        RewriteEngine On
        RedirectMatch ^/$ /apiv1
    </Directory>


</VirtualHost>