activate_this = '{{ voeventdb_venv }}/bin/activate_this.py'
execfile(activate_this, dict(__file__=activate_this))

from voeventdb.server.database import session_registry
from sqlalchemy import engine
import logging
import sys

logging.basicConfig(stream=sys.stderr)

session_registry.configure(bind=engine.create_engine(
    '{{  voeventdb_db_ro_url }}'
))

from voeventdb.server.restapi.app import app as application
